

input[type=button] {
  padding:5px;
  background-color: white;
  border: 2px solid #ff3caa;
  color:#000;
  border-radius: 10px;
  text-decoration:none;
}


input[type=button]:hover {
    padding:5px;
  background-color: white;
  border: 2px solid #ff3caa;
  color:#000;
  border-radius: 10px;
  text-decoration:none;
}

input[type=button]:active {
  padding:5px;
  background-color: #f8f74b;
  border: 2px solid #ff3caa;
  color:#000;
  border-radius: 10px;
  text-decoration:none;
  transform: scale(1.5);
}


.delete {
  display: inline;
  margin-left: 30px;
  font-size: .7em;

}
