  <div class="formInput col-sm-10 col-md-offset-1">
    <h2>Add A Song Here</h2>
    <form action="" method="">
      <div class="row">
        <div class="col-xs-6">
          <label for="title">Title:</label>
          <input type="text" name="title" id="addTitle">
          <label for="artist" >Artist:</label>
          <input type="text" name="artist" id="addArtist">
          <label for="album">Album:</label>
          <input type="text" name="album" id="addAlbum">
        </div> 
        <div class="col-xs-6"> 
          <label for="genre">Genre:</label>
          <aside>as if that means anything at all</aside>
          <div class="row">  
            <div class="check1 checkbox col-xs-6">
              <input type="checkbox" name="Genre" value="rock"> Rock
              <br>
              <input type="checkbox" name="Genre" value="pop"> Pop
              <br>
              <input type="checkbox" name="Genre" value="blues"> Blues
            </div>
            <div class="check2 checkbox col-xs-6">
              <input type="checkbox" name="Genre" value="classical" class="check"> Classical
              <br>
              <input type="checkbox" name="Genre" value="jazz"> Jazz
              <br>
              <input type="checkbox" name="Genre" value="hipHop"> Hip Hop
            </div>
          </div>
        </div>
      </div>  
        <input type="button" value="Add Song" id="addMusicButton">
    </form>
  </div>