<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Caitlin's Music History Project</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css"> 
</head>

<body ng-app="MusicApp">
 
  <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Caitlin's Music App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">View Music<span class="sr-only">(current)</span></a></li>
        <li><a href="addMusic.html">Add Music</a></li>
        <li><a href="profile.html">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html">View Music</a></li>
            <li><a href="addMusic.html">Add Music</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Close Application</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <section ng-controller="SongCtrl">
    <div class="container">
      <div class="row">
        <div class="options col-sm-3">
          <form action="sing.html" method="POST">
            <label for="artist">Artist:</label>
            <div id="artistList">
              <select name="artist" id="selectedArtist" class="form-control"
                ng-model="theSongs"
                ng-options="value.artist for value in songs">
                <option>--</option>
              </select>
            </div>
            <br>
            <label for="album">Album:</label>
            <div id="albumList">
              <select name="album" id="selectedAlbum" class="form-control"
                ng-model="theSongs"
                ng-options="value.album for value in songs">
                <option>--</option>
              </select>
            </div>
            <label for="genre">Genre:</label>
            <div class="row">  
              <div class="check1 checkbox col-xs-6">
                <input type="checkbox" name="Genre" value="rock"> Rock
                <br>
                <input type="checkbox" name="Genre" value="pop"> Pop
                <br>
                <input type="checkbox" name="Genre" value="blues"> Blues
              </div>
            <!--   Placeholder div prevents bootstrap from messing up checkbox alignment -->
              <div class="placeholder"></div>
              <div class="check2 checkbox col-xs-6">
                <input type="checkbox" name="Genre" value="classical" class="check"> Classical
                <br>
                <input type="checkbox" name="Genre" value="jazz"> Jazz
                <br>
                <input type="checkbox" name="Genre" value="hipHop"> Hip Hop
              </div>
            </div>
          <br>
          <input type="button" value="Filter" id="filter" class="subBtn">
        </form>
      </div> 
        <div class="library col-sm-8" id="library">
          <ul class="songs-list" ng-repeat="song in songs | filter: theSongs">
            <li>{{song.title}} is by {{song.artist}} on the album {{song.album}} <button ng-click="deleteSong(song)">Delete</button></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>   
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/songs.js"></script>
</body>
</html>
